.colum-center-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-center-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.weather{
    height:100%;
    width:100%;
    color:white;
}
.summer{
    background:url(../../assets/img/summer.jpg) no-repeat;
    background-size: 100% 100%;
}
.spring{
    background:url(../../assets/img/spring.jpg) no-repeat;
    background-size: 100% 100%;
}
.autumn{
    background:url(../../assets/img/autumn.jpg) no-repeat;
    background-size: 100% 100%;
}
.winter{
    background:url(../../assets/img/winter.jpg) no-repeat;
    background-size: 100% 100%;
}
.location{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
}
.scroll{
    // flex:1;
    overflow: auto;
}
.details{
    height:4.5rem;
    display: flex;
    flex-direction: column;
}
.threeday{
    height:4.5rem;
    display: flex;
    flex-direction: column;
    margin-top:.2rem;
    // background:#f0f;
}
.time{
    flex:1;
    .colum-center-flex;
}
.temperature{
    flex:7;
    font-size:2rem;
    .colum-center-flex;
}
.tmp{
    font-size:.4rem;
    doisplay:inline-block;
}
.icon{
    width:.5rem;
    height:.5rem;
}
.status{
    flex:3;
    .row-center-flex;
}
.margin{
    margin-right:.3rem;
}
.threetitle{
    height:.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left:.15rem;
}
.threecontent{
    height:.8rem;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}
.center{
    .row-center-flex;
}
.threeicon{
     width:.4rem;
     height:.4rem;
}
.threemargin{
    margin:0 1.2rem;
    display: flex;
    flex-direction: row;
}
:global{
    .my-drawer {
    overflow: auto;
    position: relative;
    height:calc(100% - 0.9rem);
    -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar {
    background-color: #2a2b2c;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    }
    .my-drawer .am-drawer-sidebar .am-list {
    width: 6rem;
    padding: 0;
    }
}
.sidebar{
    width:6rem;
}
.obcity{
    margin:0;
    padding:0;
    height:.5rem;
    line-height:.5rem;
    text-align: center;
}
.tag{
    border:1px solid #108ee9;
    border-radius:6px;
    padding:0 .1rem;
    display: inline-block;
    line-height: 0.45rem;
}